<h1>
    <ol>
        <li style="color: brown;">.</li>
        <li style="color: rgb(106, 172, 76);">.</li>
        <li style="color: rgb(42, 140, 165);">.</li>
        <li style="color: rgb(65, 42, 165);">.</li>
        <li style="color: rgb(165, 42, 42);">.</li>
        <li style="color: rgb(6, 253, 47);">.</li>
        <li style="color: rgb(216, 238, 18);">.</li>
        <li style="color: rgb(0, 255, 149);">.</li>
        <li style="color: rgb(12, 9, 236);">.</li>
        <li style="color: rgb(66, 15, 133);">.</li>
    </ol>
</h1>