<a href="https://www.google.com/">Search the web with Google!</a> <br>
<a href="https://www.id.yahoo.com/">Search the web with Yahoo!</a> <br>
<a href="https://www.duckduckgo.com/">Search the web with Duckduckgo!</a>