<h2>
    <ul>
        <li>
            <a href="https://www.facebook.com/">Facebook</a>
        </li>
        <li>
            <a href="https://www.twitter.com/">Twitter</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/">Linkedin</a>
        </li>
        <li>
            <a href="https://www.gmail.com/">Gmail</a>
        </li>
        <li>
            <a href="https://www.medium.com/">Medium</a>
        </li>
    </ul>
</h2>