<h1>Corat-Coret di Toilet</h1>
<hr>
<p>s Buku Corat-Coret di Toilet -- Buku Corat-Coret di Toilet, buku ini bergenre roman (kumpulan cerpen), yang mengisahkan kisah-kisah yang mungkin terjadi era tahun 2000-an atau pascarevormasi 98 itu terjadi. Sehingga setiap kisah yang tersaji bukan hanya sebagai kisah belaka, melainkan semacam rekam jejak sejarah pascarevormasi di Negara ini.</p>