<ul>
    <li>
        <p><b>HTML</b> adalah singkatan dari Hypertext Markup Language. HTML memungkinkan seorang user untuk membuat dan menyusun bagian paragraf, heading, link atau tautan, dan blockquote untuk halaman web dan aplikasi.</p>
    </li>
    <li>
        <p><b>Git</b> adalah version control system yang digunakan para developer untuk mengembangkan software secara bersama-bersama.</p>
    </li>
    <li>
        <p><b>Internet</b> adalah suatu jaringan komunikasi yang menghubungkan satu media elektonik dengan media yang lainnya.</p>
    </li>
    <li>
        <p><b>Smartphone</b> adalah kelas ponsel dari ponsel dan perangkat komputasi bergerak multiguna. </p>
    </li>
    <li>
        <p><b>CSS</b> bahasa Cascading Style Sheet dan biasanya digunakan untuk mengatur tampilan elemen yang tertulis dalam bahasa markup, seperti HTML.</p>
    </li>
</ul>
